.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 135, 152, 0.3);
    font-family:monospace;
    font-size:xx-large;
    border-radius: 8px;
}
@media screen and (min-width:1024px){
    .contact{
        flex-direction: row;
    }
}